html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

body {
  color: #2C2C2C;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F6F6F6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 60px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav__item {
  margin-left: 40px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:nth-child(4n) {
  margin: 25px;
}

.nav__item:last-child {
  margin-left: 0;
}

.nav__link {
  color: #2C2C2C;
  text-decoration: none;
}

.nav__btn {
  color: #2C2C2C;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 40px;
  border: 1px solid #60B9FE;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  width: auto;
  float: right;
  margin-right: 0;
}

input {
  width: 170px;
  height: 24px;
  padding-left: 15px;
  border-radius: 40px;
  border: 1px solid #DCDCDC;
  background: #F1F1F1;
  outline: none;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

input:focus {
  width: 200px;
}

.textImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 755px;
}

.textImg__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.textImgt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 30px;
}

.textImgt__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.banner {
  text-align: center;
  background-color: #F1F1F1;
  position: relative;
}

.banner.banner-1 {
  padding-bottom: 120px;
}

.banner__title {
  color: #00285D;
  font-size: 5rem;
  max-width: 49rem;
  margin: 0;
}

.banner__titlet {
  color: #00285D;
  font-size: 3rem;
  max-width: 400px;
  margin: 0;
}

.banner__text {
  padding-top: 2rem;
  font-size: 2rem;
  max-width: 38rem;
  margin: 0;
}

.banner__textt {
  padding-top: 2rem;
  font-size: 2rem;
  max-width: 475px;
  margin: 0;
}

.banner__source {
  padding-top: 2rem;
  font-size: 2rem;
  margin: 0;
}

.banner__img {
  z-index: 1;
  position: absolute;
  right: 0;
}

.colortext {
  color: #60B9FE;
}

.btn-groupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-groupe__btn {
  border: 1px solid #EDAC9B;
  padding: 25px 50px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.83%, #F2A089), color-stop(101.69%, #F0B8A9)), #EDAC9B;
  background: linear-gradient(0deg, #F2A089 5.83%, #F0B8A9 101.69%), #EDAC9B;
  color: #F1F1F1;
  margin: 40px 0;
}

.btn-groupe__btn-main {
  text-decoration: underline;
  color: #60B9FE;
  margin: 20px 0;
}

.btn-groupe__source {
  font-size: 2rem;
  text-decoration: underline;
  color: #60B9FE;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 60px;
  font-size: 14px;
}

.footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130.55px;
}

.footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer-two a {
  padding-bottom: 1rem;
}

.footer-two a:last-child {
  padding-bottom: 0;
}

.footer-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 283px;
}

.footer-three a {
  padding-bottom: 1rem;
}

.footer-three a:last-child {
  padding-bottom: 0;
}

.footer-four {
  text-align: right;
}

.footer-four__podpis {
  margin: 0px;
  padding-bottom: 11px;
  max-width: 230px;
}

.footer-four__podpis:last-child {
  padding-bottom: 0;
}

.footer-four a {
  padding-bottom: 0px;
  font-size: 20px;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 60px;
}

.copy__copyright {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */